section.banner(data-aos="fade-up") 
  .container
    .banner-fl
      .banner__info
        h1 
          span Обучающие курсы 
          | для поставщиков на маркетплейсы  
        h4.price 
          img(src="images/money.svg", alt="money")
          p.upper от 
            b 19 900 
            span ₽ 
        .text     
          p Обучающие курсы по работе и продвижению на маркетплейсах от практикующих селлеров
          p Добро пожаловать в Академию. Это место для эффективного обучения, где мы рассказываем, как работают маркетплейсы и никогда не вдаемся в теорию, которая не понадобится на практике.
          p Нащи уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не действовать наугад. Становись экспертом в работе с маркетплейсами и увеличивай свою прибыль.
      .banner__img  
        img.superman(src="images/superman.png", alt="superman")
        img.stars(src="images/stars.png", alt="stars")