head 
  meta(charset='utf-8')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Stat4market
  link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
  link(rel="icon", href="images/favicon/favicon.ico")
  link(rel="stylesheet", href="css/style.min.css")
 
  