header.header
  .container
    .header-fl
      .header-fl__item
        .logo 
          a(href="/")
            img(src="images/logo.svg", alt="alt") 
          div.logo-text Надежный сервис <br> аналитики для поставщиков <br> на маркетплейсы
        ul.menu 
          li
            a(href="#") Аналитика
              img(src="images/select-arrow.svg", alt="arrow")
          li
            a(href="#") Обучение  
      .header-fl__item
        a.phone(href="#") 
          img(src="images/call.svg", alt="phone") 
          | 8 (499) 450-31-41  
        a.btn(href="#") 
          img(src="images/right-arrow.svg", alt="arrow")  
          | Войти       