section.marketplace 
  .container
    h2.section-title(data-aos="fade-up") Обучение по продажам на <br> маркетплейсах от stat
      span 4
      |market
    h4.descr(data-aos="fade-up") «Увеличение реальной прибыли, конкретика и ключевые инструменты <br> которые дают результат» — на этом тезисе созданы наши курсы
    .marketplace__fl
      .marketplace__fl-item(data-aos="fade-up", data-aos-delay="200") 
        img(src="images/icon1.svg", alt="svg")   
        h4 Наше обучение построено очень лаконично и просто
        p Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без лишней теории и “воды”.
      .marketplace__fl-item(data-aos="fade-up", data-aos-delay="400") 
        img(src="images/icon2.svg", alt="svg")   
        h4 Ко всем урокам есть дополнительные материалы
        p Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.
      .marketplace__fl-item(data-aos="fade-up", data-aos-delay="600") 
        img(src="images/icon3.svg", alt="svg")   
        h4 Наше обучение — практико-ориентированное
        p Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на практике.
      .marketplace__fl-item(data-aos="fade-up", data-aos-delay="800") 
        img(src="images/icon4.svg", alt="svg")   
        h4 Создатели нашей Академии
        p Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также профессиональные лекторы и методологи.      