@import 'fonts';
@import 'header';
@import 'breadcrump';
@import 'banner';
@import 'history';
@import 'marketplace';

body {
  font-family: 'Lato';
  font-size: 14px;
  margin: 0;
  color: #331a2f;
  overflow-x: hidden;

  &.scroll-hidden {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img.left-bg {
  position: absolute;
  left: 0;
  top: 0;

  @media screen and (max-width: 1680px) {
    left: -3%;
  }
  @media screen and (max-width: 1580px) {
    left: -4%;
  }
  @media screen and (max-width: 1500px) {
    display: none;
  }
}

img.right-bg {
  position: absolute;
  right: 0;
  top: 384px;

  @media screen and (max-width: 1500px) {
    display: none;
  }
}

.section-title {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  line-height: 132%;

  @media screen and (max-width: 1500px) {
    font-size: 40px;
  }
  @media screen and (max-width: 700px) {
    font-size: 24px;
  }

  span {
    color: #cf51ce;
  }
}

ul {
  padding: 0;
  margin: 0;
}

a {
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    transform: translateY(2px);
  }
}

.container {
  max-width: 1500px;
  width: auto;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 1500px) {
    max-width: 1200px;
  }
}

.upper {
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  [data-aos] {
    pointer-events: auto !important;
    transition: 0 !important;
    transition-timing-function: unset !important;
    transform: unset !important;
  }

  html:not(.no-js) [data-aos^='fade'][data-aos^='fade'] {
    opacity: 1 !important;
    transition-duration: 0s !important;
    transition: 0 !important;
  }

  html:not(.no-js) [data-aos='fade-up'] {
    transform: none !important;
    transition-duration: 0s !important;
    transition: 0 !important;
  }
}
